body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f9;
}

h1 {
	text-align: center;
	color: #333;
}

table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hutsik {
	margin-top: 100px;
	font-size: 40px;
	color: blue;
}

th,
td {
	padding: 12px 15px;
	text-align: left;
	border: 1px solid #ddd;
}

.btn {
	background-color: #007bff;
	color: white;
	text-decoration: none;
	/* Quita el subrayado del enlace */
	display: inline-block;
	/* Permite usar padding */
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
	/* Ajusta el ancho al 100% del contenedor */
	text-align: center;
	margin-top: 10px;
}

.btn:hover {
	background-color: rgb(23, 5, 250);

}

th {
	background-color: #007bff;
	color: #fff;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

tr:hover {
	background-color: #f1f1f1;
}