body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

form {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin: 10px 0 5px;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="number"] {
	width: 50%;
}

button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
	width: 100%;
}

.itzuliBtn {
	background-color: #4CAF50;
	color: white;
	text-decoration: none;
	/* Quita el subrayado del enlace */
	display: inline-block;
	/* Permite usar padding */
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
	width: 91.9%;
	/* Ajusta el ancho al 100% del contenedor */
	text-align: center;	
	margin-top: 10px;
}


button:hover, .itzuliBtn:hover {
	background-color: #45a049;
}