<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gestión de Editoriales</title>
	<link rel="stylesheet" th:href="@{/css/editoriala.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<header>
		<h1>Gestión de Editoriales</h1>
	</header>
	<main>
		<section class="form-container">
			<h2 th:text="${modo == 'editar' ? 'Editar  Editorial' : 'Añadir Nueva Editorial'}"></h2>
			<form th:action="@{/editorialak/admin/gorde}" th:object="${editoriala}" method="post">
				<div class="form-group">
					<input type="text" id="id" hidden="true" th:field="*{id}" />
					<label for="izena">Nombre de la Editorial:</label>
					<input type="text" id="izena" th:field="*{izena}" placeholder="Introduce el nombre" required>
				</div>
				<div class="form-group">
					<label for="herrialdea">País:</label>
					<input type="text" id="herrialdea" th:field="*{herrialdea}" placeholder="Introduce el país"
						required>
				</div>
				<button type="submit" th:text="${modo == 'editar' ? 'Actualizar' : 'Crear'}"></button>
			</form>
		</section>

		<section class="editorials-list">
			<h2>Editoriales Actuales</h2>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>País</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="editoriala : ${editorialak}">
						<td th:text="${editoriala.id}"></td>
						<td th:text="${editoriala.izena}"></td>
						<td th:text="${editoriala.herrialdea}"></td>
						<td>
							<a th:href="@{/editorialak/admin/editatu/{id}(id=${editoriala.id})}"
								class="edit-btn">Editar</a>
							<a th:href="@{/editorialak/admin/ezabatu/{id}(id=${editoriala.id})}" class="delete-btn"
								onclick="return confirm('¿Estás seguro de eliminar esta editorial?')">Borrar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</main>
</body>

</html>