<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Erabiltzaileak</title>
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/erabiltzaileak.css}">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<h1>Lista de Erabiltzaileak</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Izena</th>
				<th>Abizena</th>
				<th>Email</th>
				<th>Telefono</th>
				<th>Admin</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<!-- Mensaje cuando no hay usuarios con admin == 0 -->
			<tr th:if="${#lists.isEmpty(erabiltzaileak) or erabiltzaileak.?[admin == 0].isEmpty()}">
				<td class="hutsik" colspan="7" style="text-align: center;">Ez dago erabiltzailerik</td>
			</tr>

			<!-- Iteración para usuarios con admin == 0 -->
			<tr th:each="erabiltzailea : ${erabiltzaileak}" th:if="${erabiltzailea.admin == 0}">
				<td th:text="${erabiltzailea.id}"></td>
				<td th:text="${erabiltzailea.izena}"></td>
				<td th:text="${erabiltzailea.abizena}"></td>
				<td th:text="${erabiltzailea.email}"></td>
				<td th:text="${erabiltzailea.tel_zenbakia}"></td>
				<td th:text="${erabiltzailea.admin}"></td>
				<td>
					<!-- Botón para editar -->
					<a class="btn" th:href="@{/erabiltzaileak/admin/edit/{id}(id=${erabiltzailea.id})}">
						Editar
					</a>
					<!-- Botón para eliminar -->
					<a class="btn" th:href="@{/erabiltzaileak/admin/delete/{id}(id=${erabiltzailea.id})}">
						Eliminar
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>