<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liburuen Zerrenda</title>
    <link rel="stylesheet" th:href="@{/css/liburuak.css}">
</head>
<body>
    <header>
        <h1>Liburuen Zerrenda</h1>
    </header>
    <main>
        <div class="books-container">
            <!-- Iterar sobre los libros desde la base de datos -->
            <th:block th:each="liburua : ${liburuak}">
                <div class="book-card">
                    <img th:src="@{/images/} + ${liburua.irudia}" alt="Irudia" class="book-image">
                    <h2 class="book-title" th:text="${liburua.izenburua}">Izenburua</h2>
                    <p class="book-author" th:text="'Egilea: ' + ${liburua.egilea}">Egilea</p>
					
                    <p class="book-price" th:text="'Prezioa: ' + ${liburua.prezioa} + '€'">Prezioa</p>
					
					<form th:action="@{/comprar}"  th:object="${liburua}" method="post">
						<input type="hidden" name="id" th:value="${liburua.id}">
						   <label for="cantidad-${liburua.id}">Cantidad:</label>
						   <input type="number" id="cantidad-${liburua.id}" name="cantidad" min="1" value="1">
						   <button class="buy-button">Comprar</button>
					</form>
                </div>
            </th:block>
        </div>
    </main>
</body>
</html>
