<div th:fragment="navbar">
	<nav class="navbar">
		<ul>
			<li><a href="/loginaOndo">Hasiera</a></li>
			<li><a href="/liburuak">Liburuak</a></li>
			<li><a href="/liburuaGehitu" th:if="${rola == '1'}">Liburua Gehitu</a></li>
			<li><a href="/erabiltzaileak/admin/ikusi" th:if="${rola == '1'}">Ikusi erabiltzaileak</a></li>
			<li><a href="/carrito" th:if="${rola == '0'}">Carrito</a></li>
			<li><a href="/erabiltzaileak/perfila/ikusi">Profila</a></li>
			<li>
				<a href="#" onclick="document.getElementById('logout-form').submit();">Saioa itxi</a>
				<form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
			</li>
		</ul>			
	</nav>
</div>